* {
    box-sizing: border-box;
}

body {
    color: #777;
}

.timetable_header {
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: orangered;
}

head {
    font-family: verdana;
    color: pink;
}

form {
    text-align: center;
    line-height: 30px;
    height: 80%;
    overflow: auto;
}


#courseSearch {
    border-radius: 15px;
    padding-right: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

/* centers placeholder text */
::-webkit-input-placeholder {
    color: #808080;
    text-align: center;

}

.form-group {
    padding: auto;
}

.list-group {
    padding-bottom: 10px;
}

body {
    background-color: rgb(58, 58, 58);
    color: coral;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
}

h1 {
    color: #E55934;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    color: #D9594C;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    color: orange;
    font-family: 'Courier New', Courier, monospace;
    padding: auto;
}