head{
    font-family: verdana;
    color: pink;
}

* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    background-color: rgb(96, 96, 96);
    font-family: verdana;
    float: left;
    width: 50%;
    padding: 10px;
    height: 90vh;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

table{
    ;
    width: 75ch;
}

th{
    color: white;
}

body {
    background-color: rgb(58,58,58);
    color: coral;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
}

h1 {
    color: orangered;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    color: orange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid powderblue;
    padding: 30px;
}